/* #records-table, tr, td
{
 padding: 5px;
}

#records-table
{
    border: 2px solid green;
    border-radius: 5px;
} */

input
{
    margin-left: 5px;
    padding: 8px 25px;
}

#title{
    margin-left: 5px;
}

.login-form
{
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;

}