#records-table, tr, td
{
 border: 1px solid blue;
 padding: 5px;
}

#records-table
{
    border: 2px solid green;
    border-radius: 5px;
}

input
{
    margin-left: 5px;
    padding: 8px 25px;
}

#title{
    margin-left: 5px;
}