.login-form
{
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;

}

div#PieChart{
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

rect{
    fill: #8ECDCC;
}