.form
{
    align-self: center;
    text-align: center;
}

.form input, .form button
{
    margin: 15px;
    padding: 8px 25px;
}

p{
    margin-bottom: 0px;
}

#home
{
    color: blue;
}

a{
    outline: none;
    text-decoration: none;
}

.login-form
{
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;

}