.dashboardform
{
    align-content: center;
    align-self: center;
    text-align: center;
}

.dashboardform .link{
    padding: 8px 25px;
}

#routes, .link
{
  color: black;
}

.link
{
    margin: 15px;
    padding: 20px 30px;
}

a
{
    outline: none;
    text-transform: none;
}

button
{
    padding: 10px 20px;
}