
.form
{
    align-self: center;
    text-align: center;
}

p{
    margin-bottom: 0px;
}

#home
{
    color: blue;
}

.title
{
    position: relative;
    left: 10px;
}

.login-form
{
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;

}

.red
{
    color: red
}

.stmt
{
    font-size: 12pt;
}