body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #8ECDCC;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

link
{
  color: black;
  text-transform: none;
}

#home
{
    color: blue;
}

button
{
    margin: 15px;
    padding: 8px 25px;
}
